In [1]:
import pandas as pd
car=pd.read_excel("C:\\Users\\VENKATA SAI JASWANTH\\Downloads\\car_price_prediction.xlsx")
df=pd.DataFrame(car)
df.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [101]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [103]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Driven_kms',
       'Fuel_Type', 'Selling_type', 'Transmission', 'Owner'],
      dtype='object')

In [104]:
df.shape

(301, 9)

In [105]:
df["present-year"]=2023

In [106]:
df["car-age"]=df["present-year"]-df["Year"]

In [107]:
df.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner,present-year,car-age
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2023,9
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2023,10
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2023,6
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2023,12
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2023,9

In [108]:
df.drop(columns=["Car_Name","present-year"],inplace=True)

In [109]:
df.drop(columns=["Year"],inplace=True)

In [110]:
df.head(5)

,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner,car-age
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,9
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,10
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,6
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,12
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,9

In [111]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
df['Fuel_Type'] = enc.fit_transform(df['Fuel_Type'])

In [112]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
df['Transmission'] = enc.fit_transform(df['Transmission'])

In [113]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
df['Selling_type'] = enc.fit_transform(df['Selling_type'])

In [114]:
df.head(5)

,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner,car-age
0,3.35,5.59,27000,2,0,1,0,9
1,4.75,9.54,43000,1,0,1,0,10
2,7.25,9.85,6900,2,0,1,0,6
3,2.85,4.15,5200,2,0,1,0,12
4,4.60,6.87,42450,1,0,1,0,9

In [115]:
features=["Present_Price","Driven_kms","Fuel_Type","Selling_type","Transmission","Owner","car-age"]

In [116]:
x=df[features]

In [117]:
y=df["Selling_Price"]

In [118]:
print(x.shape)
print(y.shape)

(301, 7)
(301,)

In [119]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [120]:
print(x_train.shape)
print(y_train.shape)

(240, 7)
(240,)

In [121]:
print(x_test.shape)
print(y_test.shape)

(61, 7)
(61,)

In [126]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=5,random_state=10)
regressor.fit(x_train,y_train)

RandomForestRegressor(n_estimators=5, random_state=10)

In [128]:
y_pred=regressor.predict(x_test)
print("y_pred:",y_pred)

y_pred: [ 5.3   11.31  10.43   0.42   5.36  18.246  1.54   0.178 12.34   6.97
  4.66  11.088  1.79  10.67   1.09   0.444  0.492  0.466  0.616  4.
  0.23  20.55  10.4    8.06   6.43   0.54   4.43   3.58   1.48   5.872
  2.798  4.5    5.11   2.98   6.58   9.8    4.11   5.322  7.89   8.356
  6.67   3.99   0.646  3.83   5.11   0.55   1.8    2.31   6.32   0.76
  0.528  3.82   4.53   7.57   3.84  14.98   6.11   9.636  2.95   2.94
  0.498]

In [129]:
y_test

61      4.50
80     14.73
256    10.25
169     0.40
57      4.75
       ...
1       4.75
289    10.11
31      2.35
239     2.00
137     0.65
Name: Selling_Price, Length: 61, dtype: float64

In [130]:
from sklearn.metrics import r2_score

score=r2_score(y_test,y_pred)
print("score:",score)

score: 0.9333200601787468

In [68]:
import pandas as pd
car=pd.read_excel("C:\\Users\\VENKATA SAI JASWANTH\\Downloads\\car_price_prediction.xlsx")
df=pd.DataFrame(car)

df.isnull().sum()
df.info()


df.columns

df["present-year"]=2023

df["old-year"]=df["present-year"]-df["Year"]


df.drop(columns=["Car_Name","present-year"],inplace=True)


df.drop(columns=["Year"],inplace=True)

from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
df['Fuel_Type'] = enc.fit_transform(df['Fuel_Type'])

from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
df['Transmission'] = enc.fit_transform(df['Transmission'])

from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
df['Selling_type'] = enc.fit_transform(df['Selling_type'])

features=["Present_Price","Driven_kms","Fuel_Type","Selling_type","Transmission","Owner","old-year"]

x=df[features]

y=df["Selling_Price"]

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=5)
regressor.fit(x_train,y_train)

y_pred=regressor.predict(x_test)
print("y_pred:",y_pred)

from sklearn.metrics import r2_score

score=r2_score(y_test,y_pred)
print("score:",score)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB
y_pred: [ 5.19   0.232  0.426 15.65  16.546  4.602  5.1    0.372  0.57   0.344
  8.39   4.74   6.92   0.256  5.38  23.     4.74   5.23   0.424  7.19
  4.35   6.76   7.21   0.398  0.46   5.36   0.256  3.29   1.91   5.05
  8.09   4.7    6.13   1.3   12.54   3.26   0.65   4.7    3.25   1.86
  4.     7.2    0.426  6.05   1.11   0.25   6.77   1.126  0.65   3.97
  6.99   3.02   0.318  4.53   0.456  9.412  6.1    2.33   5.     0.86
  2.39 ]
score: 0.9722756874980184

In [69]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

car = pd.read_excel("C:\\Users\\VENKATA SAI JASWANTH\\Downloads\\car_price_prediction.xlsx")
df = pd.DataFrame(car)

df["present-year"] = 2023
df["Car_Age"] = df["present-year"] - df["Year"]
df.drop(columns=["Car_Name", "present-year", "Year"], inplace=True)

# Use a single LabelEncoder for multiple columns
encoder = LabelEncoder()
df['Fuel_Type'] = encoder.fit_transform(df['Fuel_Type'])
df['Transmission'] = encoder.fit_transform(df['Transmission'])
df['Selling_type'] = encoder.fit_transform(df['Selling_type'])

features = ["Present_Price", "Driven_kms", "Fuel_Type", "Selling_type", "Transmission", "Owner", "Car_Age"]
x = df[features]
y = df["Selling_Price"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

regressor = RandomForestRegressor(n_estimators=5)
regressor.fit(x_train, y_train)

y_pred = regressor.predict(x_test)
print("y_pred:", y_pred)

score = r2_score(y_test, y_pred)
print("score:", score)

y_pred: [ 6.91   0.324  9.588 21.8    4.85  15.72   2.2    0.2    2.97   0.254
  1.762  0.246  3.66   8.42   0.29   2.51   1.124  0.58   0.458  5.67
  4.33   9.228  7.45   0.992  8.09   1.1    0.612  5.66   0.48   6.11
  0.552  5.29   0.728  8.92   0.764 10.14  21.15  23.4   10.64   4.01
 12.49   4.62   5.29   1.12   5.88   1.22   5.54   4.95   5.9    5.25
  4.47   0.346  6.39   6.39   3.01   1.55   7.19   3.55   0.606  0.758
  5.27 ]
score: 0.9319850327253643

In [70]:

# Use a single LabelEncoder for multiple columns
encoder = LabelEncoder()
df['Fuel_Type'] = encoder.fit_transform(df['Fuel_Type'])
df['Transmission'] = encoder.fit_transform(df['Transmission'])
df['Selling_type'] = encoder.fit_transform(df['Selling_type'])